<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>输入错误</title>
</head>
<style>
     .z1{
         border: 2px solid black;
            width:700px;
            height:600px;
            margin-top:100px;
            margin-left:350px;
           background-image: url(static/images/img_2.png);
         }
  .card{
    width:320px;
    height:110px;
    margin-top:320px;
    margin-left:190px;
    padding-top:30px;
    padding-left:20px;
    font-size:22px;
    font-weight:bolder;
    opacity: 0.5;
    color:red;
  }
</style>

<body>
<div class="z1">
    <p class="card">
  用户名或密码输入错误！！！
</p>
</div>


</body>
</html>